/*header*/
header {
    background-color: #1F2937;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    font-size: 24px;
    color: #F9FaF8;

}
/*link right*/
li {
    list-style-type: none;
    display: inline;
    font-size: 18px;
    padding: 12px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}


/*header content/under navigation bar*/
.mainbody {
    display: flex;
    flex-direction: column;
}

.headinfo {
    display: flex;
    padding: 35px;
    justify-content: space-evenly;
}

.headinfo > div {
    flex: 1 1 0;
    border-style: dotted;
}

.right {
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8
}

p {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
}

/*  information section  */

.infobox {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 32px;

}

img {
    width: 100px;
    height: 100px;
    border-color: #3883f6;
    border-style: solid;
}

.box {
    height: 200px;
    width: 200px;
}

/* Quote */
.quotesection {
    display: flex;
    background-color: E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    height: 65%;
    width: 65%;
    padding: 32px;
}

/* action section */

.actionbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 32px;
}